* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Manufax {
  font-family: "Lato",sans-serif;
}

.Information {
  width: auto;
  background: #333;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Information .Position {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.Information .Position i {
  color: #6abfe6;
  margin: 0 20px;
}

.Information .Position p {
  color: #eee;
  font-size: 16px;
}

.Information .Phone {
  width: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.Information .Phone i {
  color: #5d8de0;
  padding: 0 20px;
}

.Information .Phone a {
  color: #eee;
  font-size: 16px;
}

.Information .Social {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Information .Social .icon-list {
  margin: auto;
}

.Information .Social .icon-list i {
  margin-right: 20px;
}

.elementor-container {
  width: 100%;
  z-index: 1;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.elementor-container .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
}

.elementor-container .wrap .menu {
  margin: auto;
}

.elementor-container .wrap .menu a {
  color: #fff;
  padding: 20px;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
}

.elementor-container .wrap .search {
  margin: auto;
}

.elementor-container .wrap .search i {
  color: #fff;
}

.jet-slider {
  position: relative;
}

.jet-slider .slider-bg {
  width: 100%;
  height: 950px;
}

.jet-slider .slider-bg img {
  width: 100%;
  height: 950px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.jet-slider .jet-slider_content {
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.jet-slider .jet-slider_content .jet-slider_title {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 140px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 146px;
  letter-spacing: 5.6px;
  padding: 300px 0px 15px 0px;
  margin: 20px 0;
}

.jet-slider .jet-slider_content .jet-slider_subtitle {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin: 20px 0;
}

.jet-slider .jet-slider_content .jet-slider_button-wrapper {
  margin-top: 100px;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 0.06px;
}

.jet-slider .jet-slider_content .jet-slider_button-wrapper a {
  padding: 22px 38px 22px 39px;
  background-color: #2ac5f4;
  color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #2ac5f4;
  border-radius: 3px 3px 3px 3px;
}

.elementor-element {
  margin-top: 100px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.elementor-element .divider {
  width: 100%;
  height: 60px;
  text-align: center;
}

.elementor-element .divider span {
  display: inline-block;
  width: 60px;
  border: 1px solid #1ac4f4;
}

.elementor-element .heading {
  text-align: center;
  margin-bottom: 30px;
}

.elementor-element .heading h1 {
  font-family: "Montserrat", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  letter-spacing: 1.8px;
}

.elementor-element .elementor-inner {
  text-align: left;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.elementor-element .elementor-inner .elementor-inner-column {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33%;
  min-height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.elementor-element .elementor-inner .elementor-inner-column .icon {
  font-size: 70px;
}

.elementor-element .elementor-inner .elementor-inner-column .icon i {
  color: #2ac5f4;
}

.elementor-element .elementor-inner .elementor-inner-column .content {
  margin: 10px;
}

.elementor-element .elementor-inner .elementor-inner-column .content h2 {
  color: #333333;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
}

.elementor-element .elementor-inner .elementor-inner-column .content p {
  line-height: 30px;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.elementor-Introduction {
  width: 100%;
  height: 100%;
  background-color: #f6f6f7;
}

.elementor-Introduction .Introduction-row {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 531px;
  max-width: 1372px;
  margin: auto;
}

.elementor-Introduction .Introduction-row .content-column {
  width: 50%;
}

.elementor-Introduction .Introduction-row .content-column .divider {
  margin-top: 10px;
}

.elementor-Introduction .Introduction-row .content-column .divider span {
  display: inline-block;
  width: 60px;
  border: 1px solid #1ac4f4;
}

.elementor-Introduction .Introduction-row .content-column .heading {
  margin-bottom: 30px;
}

.elementor-Introduction .Introduction-row .content-column .heading h2 {
  margin-top: 30px;
  font-family: "Montserrat", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  letter-spacing: 1.8px;
}

.elementor-Introduction .Introduction-row .content-column .heading-title h3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: 1.08px;
}

.elementor-Introduction .Introduction-row .content-column .heading-container {
  color: #888888;
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
}

.elementor-Introduction .Introduction-row .content-column .heading-container p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.elementor-Introduction .Introduction-row .content-column .heading-button {
  margin-top: 100px;
}

.elementor-Introduction .Introduction-row .content-column .heading-button a {
  padding: 22px 37px 22px 37px;
  background-color: #398ffc;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 0.06px;
}

.elementor-Introduction .Introduction-row .content-pic {
  width: 50%;
  height: auto;
  padding: 0 20px;
}

.elementor-Introduction .Introduction-row .content-pic img {
  width: 100%;
  height: auto;
}

.elementor-selection .selection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.elementor-selection .selection .selection-content {
  width: 25%;
  height: 358px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.elementor-selection .selection .selection-content h3 {
  width: 88%;
  padding: 0 20px;
  word-wrap: break-word;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: 1.08px;
  position: absolute;
  top: 180px;
  z-index: 3;
}

.elementor-selection .selection .selection-content img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.elementor-populated {
  width: 100%;
}

.elementor-populated .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.elementor-populated .post .post-content {
  width: 31%;
  margin: 0.9765625%;
}

.elementor-populated .post .post-content a img {
  width: 100%;
  height: 281px;
}

.elementor-populated .post .post-content .inner h4 {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: 1.08px;
  text-align: left;
}

.elementor-populated .post .post-content .inner .post-meta {
  color: #888888;
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.elementor-populated .post .post-content .inner .post-meta span a {
  color: #2ac5f4;
}

.elementor-populated .post .post-content .inner .post-meta span a time {
  color: #2ac5f4;
}

.elementor-populated .post .post-content .inner p {
  color: #888888;
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.elementor-populated .button {
  margin-top: 100px;
  text-align: center;
}

.elementor-populated .button a {
  background-color: #398ffc;
  padding: 22px 37px 22px 37px;
  color: #fff;
}

.footer {
  display: block;
  background-color: #333;
  margin-top: 100px;
  padding: 130px 0 0 0;
}

.footer .top-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .top-column .column-content {
  width: 25%;
  height: auto;
  padding: 0px 25px 50px 0px;
}

.footer .top-column .column-content .logo {
  margin-bottom: 10px;
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer .top-column .column-content .logo img {
  width: 100%;
  height: 100%;
}

.footer .top-column .column-content .container {
  width: 100%;
  color: #888888;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
}

.footer .top-column .column-content .container p {
  display: inline-block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.footer .top-column .column-content .container a {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

.footer .top-column .column-content .container span {
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}

.footer .top-column .column-content .container span a {
  display: inline;
  color: #888888;
}

.footer .top-column .column-content .container h4 {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.footer .top-column .column-content .editor {
  width: 100%;
  color: #888888;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
}

.footer .top-column .column-content .editor p {
  display: inline-block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.footer .top-column .column-content .editor a {
  font-family: "Lato", Sans-serif;
  color: #2ac5f4;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
}

.footer .top-column .column-content .title h2 {
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: 1.08px;
  padding: 30px 0;
}

.footer .top-column .column-content .menu {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 100%;
}

.footer .top-column .column-content .menu a {
  color: #2ac5f4;
  padding: 0 0 5px 0;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
  display: block;
}

.footer .elementor-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #272727;
  padding: 15px 0px 8px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .elementor-row .clear-fix {
  width: 100%;
  color: #888888;
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
}

.footer .elementor-row .clear-fix a {
  color: #398ffc;
}

.footer .elementor-row .Social {
  width: 33%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .elementor-row .Social .icon-list {
  margin: auto;
}

.footer .elementor-row .Social .icon-list i {
  margin-right: 20px;
}
/*# sourceMappingURL=Manufax.css.map */