*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
    {
        
    }
.Manufax
{
    font-family: "Lato",sans-serif;        
}
.Information{
    width: auto;
    background: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    .Position{
        width: 31.38020833333333%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        i{
            color: #6abfe6;
            margin: 0 20px;
            
        }
        p{
            color: #eee;
            font-size: 16px;
        }
    }
    .Phone{
        width: 31.38020833333333%;
        width: cover;
        display: flex;
        justify-content: center;
        padding: 20px;
        i{
            color: #5d8de0;
            padding: 0 20px;

        }
        a{
            color: #eee;
            font-size: 16px;
            
        }
    }
    .Social{
        width: 31.38020833333333%;
        display: flex;
        justify-content: center;
        .icon-list{
            margin: auto;
            i{
                margin-right: 20px;
            }
        }
        
    }
}
.elementor-container{
    width: 100%;
    z-index: 1;
    position: absolute;
    justify-content: center;
    .wrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        input{
            position: absolute;
            left: -30px;
        }
        .logo{
            
            padding: 20px 10px;
            width: 25%;
            img{
            }
        }
        .menu{
            padding: 20px 10px;
            margin: auto;
            width: 64%;
            padding: 0 20px;
            a{
                color: #fff;
                padding: 20px;
                font-family: "Montserrat", Sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 27px;
                letter-spacing: 0.7px;
            }
        }
        .useing{
            width: 5%;
            display: flex;
            .search{
                width: 100%;
                margin: auto;
                i{
                    color: #fff;
                }
            }
            .list{
                display: none;
                i{
                    color: #fff;
                }
            }
        }
        
    }
    
}
.jet-slider{
    position: relative;
    width: 100%;
    .slider-bg{
        width: 100%;
        height: 950px;
        img{
            width: 100%;
            height: 950px;
            filter:brightness(.5)
        }
    } 
    .jet-slider_content{
        height: 100%;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        .jet-slider_title{
            text-align: center;
            color: #ffffff;
            font-family: "Montserrat", Sans-serif;
            font-size: 140px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 146px;
            letter-spacing: 5.6px;
            padding: 300px 0px 15px 0px;
            margin: 20px 0;
        }
        .jet-slider_subtitle{
            text-align: center;
            color: #ffffff;
            font-family: "Montserrat", Sans-serif;
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0.2px;
            margin: 20px 0;
        }
        .jet-slider_button-wrapper{
            margin-top: 100px;
            font-family: "Montserrat", Sans-serif;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 14px;
            letter-spacing: 0.06px;
            a{
                padding: 22px 38px 22px 39px;
                background-color: #2ac5f4;
                color: #ffffff;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                border-color: #2ac5f4;
                border-radius: 3px 3px 3px 3px;
            }
        }
    }
}
.elementor-element{
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    .divider{
        width: 100%;
        height: 60px;
        text-align: center;
        span{
            display: inline-block;
            width: 60px;
            border: 1px solid #1ac4f4;
        }
    }
    .heading{
        text-align: center;
        margin-bottom: 30px;
        h1{
            font-family: "Montserrat", Sans-serif;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 42px;
            letter-spacing: 1.8px;
        }
    }
    .elementor-inner{
        text-align: left;
        margin: auto;
        flex-wrap:wrap;
        display: flex;
        .elementor-inner-column{
            box-sizing: border-box;
            width: 33%;
            min-height: 1px;
            display: flex;
            .icon{
                font-size: 70px;
                i{
                    color: #2ac5f4;
                }
            }
            .content{
                
                margin: 10px;
                h2{
                    color: #333333;
                    font-family: "Montserrat", Sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 34px;
                    
                }
                p{
                    line-height: 30px;
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
            }
        }
    }
    }
}
.elementor-Introduction{
    width: 100%;
    height: 100%;
    background-color: #f6f6f7;
    .Introduction-row{
        padding: 100px 0;
        display: flex;
        width: 100%;
        height: 531px;
        max-width: 1372px;
        margin: auto;
        .content-column{
            width: 50%;
            .divider{
                margin-top:10px ;
                span{
                    display: inline-block;
                    width: 60px;
                    border: 1px solid #1ac4f4;
                }
            }
            .heading{
                margin-bottom: 30px;
                h2{
                    margin-top:30px ;
                    font-family: "Montserrat", Sans-serif;
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 42px;
                    letter-spacing: 1.8px;
                }
            }
            .heading-title{
                h3{
                    font-family: "Montserrat", Sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 34px;
                    letter-spacing: 1.08px;
                }
            }
            .heading-container{
                    color: #888888;
                    font-family: "Lato", Sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 0px;
                p{
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
            }
            .heading-button{
                margin-top: 100px;
                a{
                    padding: 22px 37px 22px 37px;
                    background-color: #398ffc;
                    font-family: "Montserrat", Sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 14px;
                    letter-spacing: 0.06px;
                }
            }
        }
        .content-pic{
            width: 50%;
            height: auto;
            padding: 0 20px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
.elementor-selection{
    width: 100%;
    .selection{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .selection-content{
        width:24.7%;
        height: 358px;
        position: relative;
        box-sizing: border-box;
        text-align: center;
            h3{
                width: 88%;
                padding: 0 20px;
                word-wrap:break-word;
                color: #ffffff;
                font-family: "Montserrat", Sans-serif;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 34px;
                letter-spacing: 1.08px;
                position: absolute;
                top: 180px;
                z-index: 3;
            }
            img{
                width: 100%;
                height: 100%;
                filter:brightness(.6);
            }
        }
        
    }

}
.elementor-populated{
    width: 100%;
    text-align: center;
    .divider{
        padding: 50px 0;
        span{
            display: inline-block;
            width: 60px;
            border: 1px solid #1ac4f4;
        }
    }
    .heading{
        padding-bottom: 50px;
        h2{
            font-size: 30px;
            line-height: 14px;
        }
    }
    .post{
        display: flex;
        .post-content{
            width: 31%;
            margin:0.9765625%;
            a{
                img{
                    width: 100%;
                    height: 281px;
                }
            }
            .inner{
                h4{
                    font-family: "Montserrat", Sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 34px;
                    letter-spacing: 1.08px;
                    text-align: left;
                }
                .post-meta{
                    color: #888888;
                    font-family: "Lato", Sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 34px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding: 0px 0px 0px 0px;
                    margin: 0px 0px 0px 0px;
                    span{
                        a{
                        color: #2ac5f4;
                        }
                    }
                    span{
                        a{
                            time{
                        color: #2ac5f4;
                                
                            }
                        }
                    }
                    
                }
                p{
                    color: #888888;
                    font-family: "Lato", Sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: left;
                }
            }
        }
    }
    .button{
        margin-top: 100px;
        text-align: center;
        a{
            background-color: #398ffc;;
            padding: 22px 37px 22px 37px;
            color: #fff;
        }
    }
}
.footer{
    display: block;
    background-color: #333;
    margin-top: 100px;
    padding: 130px 0 0 0;;
    width: 100%;
    .top-column{
        width: 100%;
        display: flex;
        .column-content{
            width: 25%;
            height: auto;
            padding: 0px 25px 50px 0px;
            .logo{
                margin-bottom: 10px;
                height: auto;
                max-width: 100%;
                border: none;
                box-shadow: none;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .container{
                width: 100%;
                color: #888888;
                font-family: "Lato", Sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 0px;
                p{
                    display: inline-block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                } 
                a{
                    display: block;
                    color: #fff;
                    margin-bottom: 5px;
                }   
                span{
                    font-family: "Lato", Sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 23px;
                    letter-spacing: 0px;
                    text-align: left;
                    margin-bottom: 10px;
                    a{
                        display: inline;
                        color: #888888;
                        

                    }
                }
                h4{
                    font-family: "Lato", Sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #fff;
                }
                
            }
            .editor{
                width: 100%;
                color: #888888;
                font-family: "Lato", Sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 0px;
                p{
                    display: inline-block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
                a{
                    font-family: "Lato", Sans-serif;
                    color: #2ac5f4;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26px;
                    letter-spacing: 0px;
                }
            }
            .title{
                h2{
                    color:#fff;
                    font-family: "Montserrat", Sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 34px;
                    letter-spacing: 1.08px;
                    padding: 30px 0;
                }
            }
            .menu{
                flex-wrap: nowrap;
                max-width: 100%;
                a{
                    color: #2ac5f4;
                    padding: 0 0 5px 0;
                    font-family: "Lato", Sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26px;
                    letter-spacing: 0px;
                    display: block;
                }
            }

        }
    }
    .elementor-row{
        display: flex;
        background: #272727;
        padding: 15px 0px 8px 0px;
        box-sizing: border-box;
        .clear-fix{
            width: 100%;
            color: #888888;
            font-family: "Lato", Sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0px;
            a{
                color: #398ffc;
            }
        }
        .Social{
            width: 33%;
            color: #fff;
            display: flex;
            justify-content: center;
            .icon-list{
                margin: auto;
                i{
                    margin-right: 20px;
                }
            }
            
        }
    }
}
@media screen and (max-width:1024px){
    .Information{
        .Position{
            width: 47%;
        }
        .Phone{
            width: 47%;
        }
        .Social{
            width: 47%;
        }
    }
    .elementor-container{
        .wrap{
            text-align: center;
            .logo{
                text-align: left;
                width: 90%;
            }
            .menu{
                order: 1;
                width: 100%;
                padding: 10px 40px;
            }
            .useing{
                width: 4%;
                .search{
                    width: 100%;
                }
            }
            
        }
    }
    .jet-slider{
        .slider-bg{
            height: 900px;
            img{
                height: 100%;
            }
        }
    .jet-slider_content{
        .jet-slider_title{
            font-size: 80px;
            line-height: 30px;
            padding: 400px 0 0 0;
        }
        .jet-slider_subtitle{
        }
        .jet-slider_button-wrapper{
            
        }
    }

    }
    .elementor-Introduction{
    
        .Introduction-row{
            width: 100%;
            padding: 30px 0;
            height: 100%;
            flex-direction: column-reverse;
            .content-column{
                padding: 0 20px;
                width: 95%;
               
            }
            .content-pic{
                
                width: 95%;
                
            }
        }
    }
    .elementor-selection{
        .selection{
            .selection-content{
                width: 50%;
                
            }
        }
        
    }
    .elementor-populated{
        .post{
            padding: 0 20px;
            flex-direction: column;
            .post-content{
                width: 100%;
                margin: 0;
                a{
                    img{
                        height: 100%;
                    }
                }
                .inner{
                    margin-bottom: 50px;
                }
            }
        }
    }
    .footer{
        .top-column{
            flex-wrap: wrap;
            padding: 30px 0;
            .column-content{
                padding: 0 50px ;
                width: 36.6171875%;
                .logo{
                    height: 16%;
                    width: 80%;
                }
            }
        }
        .elementor-row{
            width: 100%;
            padding: 15px 8px; 
            text-align: left;
            justify-content: right;
            .clear-fix{
                
                width: 65%;
            }
            .Social{
                
                width: 35%;

                
            }

        }
    }
        
}
@media screen and (max-width:767px){
    input:checked.fuck~div.menu {
        display: block;
        width: 10%;
        background: #000;
        position: absolute;
        top: 120px;

    }
    .Information{
        .Position{
            width: 100%;
        }
        .Phone{
            width: 100%;
        }
        .Social{
            width: 100%;
        }
    }
    .elementor-container{
        .wrap{
            padding: 20px 0;
            .logo{
                text-align: center;
                width: 100%;
                padding: 0;
            }
            .menu{
                display: none;
                width: 100%;
                a{
                    text-align: left;
                }
            }
            .useing{
                width: 100%;
                display: flex;
                .search{
                text-align: right;
                    width: 48%;
                }
                .list{
                    text-align: left;
                    display: block;
                    width: 48%;
                    margin: auto;
                    i{
                    color: #fff;
                    }
                }
            }
        }
    }
    .jet-slider{
        .slider-bg{
            height: 715px;
            img{
                height: 100%;
            }
        }
    .jet-slider_content{
        .jet-slider_title{
            font-size: 30px;
            line-height: 10px;
            padding: 300px 0 0 0;
        }
        .jet-slider_subtitle{
            padding: 0 5px;
            font-size:20px ;
        }
        .jet-slider_button-wrapper{
            
        }
    }

    }
.elementor-element{
    .elementor-inner{
        .elementor-inner-column{
            justify-content: center;
            text-align: center;
            width: 100%;
            flex-wrap: wrap;
            .icon{
            }
            .content{
                
            }
        }
    }
}
    .elementor-selection{
        .selection{
            .selection-content{
                width: 100%;
                
            }
        }
        
    }
    .footer{
        .top-column{
            flex-wrap: wrap;
            padding: 30px 0;
            .column-content{
                padding: 20px 50px 30px 50px;
                width: 100%;
                .logo{
                    height: 25%;
                    width: 30%;
                }
            }
        }
        .elementor-row{
            text-align: center;
            flex-wrap: wrap;
            .clear-fix{
                
                width: 100%;

            }
            .Social{
                
                width: 100%;

                
            }

        }
    }
}
@media screen and (max-width:500px){
    .footer{
        .top-column{
            flex-wrap: wrap;
            padding: 30px 0;
            .column-content{
                padding: 20px;
                width: 100%;
                .logo{
                    height: 25%;
                    width: 60%;
                }
            }
        }
    }
}

